@font-face{
  font-family: simplifica;
  src: url('./fonts/SIMPLIFICA Typeface.ttf')
}

*{
  padding: 0;
  margin: 0;
}

a{
  text-decoration: none;
}

body{
  background-color: rgb(96,169,124);
  background-size: cover;
  height: 100%;
  min-height: 100vh;
}

.header{
  font-family: 'Slabo 27px', serif;
  text-align: center;
  color: white;
}

#title{
  font-family: simplifica;
  letter-spacing: 5px;
  font-size: 7vw;
  width: 50%;
  margin-left: 25%;
  margin-bottom: -5%;
  text-align: center;
  font-weight: bold;
}

.subtitle{
  font-family: simplifica;
  letter-spacing: 5px;
  font-size: 4vw;
  width: 33%;
  margin-left: 33%;
  margin-top: 5%;
  border-bottom: solid medium lightgrey;
  opacity: 0;
}

#skills{
  font-size: 2.6vw;
  list-style: none;
  text-align: center;
  margin-top: 1%;
}

.listitem{
  display: none;
  padding: 1% 1%;
  margin: 0% 1%;
  opacity: 0;
  background-color: rgb(118, 187, 200);
  color: rgb(25, 63, 57);
  cursor: pointer;
}

.icon{
  display: inline-block;
  width: 10vw;
  margin: 2%;
  opacity: 0;
}

.popup{
  position: absolute;
  left: 0px;
  top: 0px;
  background-color: rgb(96,169,124);
  width: 60%;
  margin-left: 15%;
  margin-top: .5%;
  z-index: 1000;
  border-radius: 10px;
  display: none;
}

.articlesubtitle{
  width: 80%;
  margin: 0;
  padding: 0;
  margin-left: 5%;
  font-size: 3vw;
  display: inline-block;
}

.articleicon{
  width: 10%;
}

.visible{
  opacity: 1;
}

#close{
  background-color: rgb(118, 187, 200);
  color: rgb(25, 63, 57);
  margin: 0;
  padding: 0;
  margin-left: 2%;
  width: 7%;
}

#close:hover{
  background-color: rgb(98, 167, 180);
}

#nav button{
  background-color: darkgrey;
}

#nav button:hover{
  background-color: lightgrey;
}

#nav button:disabled{
  opacity: 0;
  cursor: default;
}

.images{
  border-radius: 10px;
  margin: 2% 1%;
}

.slideimg{
  margin-top: 2%;
  width: 66%;
  border-radius: 15px;
  border: medium solid grey;
}

.slideimg:hover{
  transform: scale(1.5);
}

.slides{
}

.caption{
  text-decoration: none;
  font-family: simplifica;
  letter-spacing: 5px;
  font-size: 2vw;
  color: white;
}

.ctitle{
  font-size: 3vw;
}

#fullstack{
  display: none;
}

#overstat{
  display: none;
}

#software{
  display: none;
}

#games{
  display: none;
}

#asylum{
  display: none;
}

#mars{
  display: none;
}

#flatiron{
  display: none;
}

#vitech{
  display: none;
}

#rpi{
  display: none;
}

#air{
  display: none;
}
