@font-face{
  font-family: simplifica;
  src: url('./fonts/SIMPLIFICA Typeface.ttf')
}

*{
  padding: 0;
  margin: 0;
}

#header{
  font-family: 'Slabo 27px', serif;
  text-align: center;
  color: lightgrey;
  background-color: rgb(96,169,124);
  background-size: cover;
  height: 100vh;
}

#title{
  font-family: simplifica;
  letter-spacing: 5px;
  font-size: 7vw;
  width: 50%;
  margin-left: 25%;
  margin-bottom: -5%;
  text-align: center;
  font-weight: bold;
}

#subtitle{
  font-family: simplifica;
  letter-spacing: 5px;
  font-size: 4vw;
  width: 33%;
  margin-left: 66%;
  border-bottom: solid medium lightgrey;
  text-align: center;
  opacity: 0;
}

#skills{
  font-size: 2.6vw;
  list-style: none;
  text-align: center;
  margin-top: 1%;
}

#listitem{
  display: inline-block;
  padding: 1% 1%;
  margin: 0% 1%;
  opacity: 0;
  background-color: rgb(118, 187, 200);
  color: rgb(25, 63, 57);
}

#webdev{
  width: 33%;
  margin: 0% 1% 0% 6%;
}

#icon{
  width: 10vw;
  padding: 2%;
  opacity: 0;
}
